{% extends 'base.html' %}

{% block title %}
  Ado - Login to your account
{% endblock  %}

 {% block content %}
 
<div class="card">
     <h3>Login to your account</h3>

    {% include 'includes/message.html' %}

    <form method="post">
        {% csrf_token %}

        <div class="form-group">
            <label>Username</label>
            <input type="text" name="username" placeholder="username" required />
        </div>

         <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" placeholder="password" required />
        </div>

        <div class="btn-group">
            <p class="link-over">Don't have an account?  <a href="{% url 'register' %}">Sign Up</a></p>
            <button type="submit" class="btn btn-primary">Sign In</button>
        </div>
    </form>
</div>
 
 {% endblock %}